.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(97, 96, 96, 0.3);
  border-radius: 10px;
}




/* Default */
.default {
  background: linear-gradient(to bottom, #76ddf0, #4d8de7);
}

/* Sunny */
.sunny {
  background: linear-gradient(to bottom, #eed572, hsl(48, 82%, 53%));
}

/* Cloudy */
.cloudy {
  background: linear-gradient(to bottom, #94a3b8, #cbd5e1);
}

/* Rainy */
.rainy {
  background: linear-gradient(to bottom, #334155, #64748b);
}

/* Snowy */
.snowy {
  background: linear-gradient(to bottom, #e2e4e7, #fdfdfd);
}

/* Storm */
.stormy {
  background: linear-gradient(to bottom, #020617, #1e293b);
}
